<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Passang Wangmo Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/style.css" rel="stylesheet"/>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/css/fontawesome.min.css" rel="stylesheet"/>
        <link rel="icon" type="image/x-icon" href="{ % static 'img/svg_icon/favicon.ico' %}" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    </head>
    <body>
    <!--Nav Header-->
        <nav class="navbar navbar-light bg-light sticky-top justify-content-between">
            <a class="navbar-brand" href="/" style="color: #000;">❀ PASSANG WANGMO</a>
            <div class="d-flex flex-row" id="navbarResponsive">
                <ul class="navbar-nav ms-auto" style="flex-direction: row">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-2 rounded" href="/" style="color: #000;">Home</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-1 rounded" href="#about" style="color: #000;">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-1 rounded" href="#experiences" style="color: #000;">Experiences</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-1 rounded" href="#service" style="color: #000;">Service</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-1 rounded" href="#contact" style="color: #000;">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="slider_area">
            <div class="single_slider d-flex align-items-center slider_bg_1">
                <div class="container">
                    <div class="row align-items-center position-relative">
                        <div class="col-lg-7">
                            <div class="slider_text">
                                <h2>Passang Wangmo</h2>
                                <p>
                                    Hello 👋, I am Passang Wangmo. A teacher-trainee, <br>
                                    currently pursuing Postgraduate Diploma in Education<br>
                                    in Information Technology at Samtse College of Education.

                                </p>
                            </div>
                        </div>
                        <div class="my_img d-none d-lg-block">
                            <img src="/static/img/about/my_img.png" alt="profile">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--About-->
        <div class="about_area" id="about">
            <div class="container">
                <h2 class="text-center text-uppercase text-black" style="font-size:29px; color: black">
                    About Me
                </h2>
                <div class="divider-custom divider-dark">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star" style="font-size:24px"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="download_left">
                            <h2 style="color: orange;">My Qualifications </h2> <br>
                            <h5 style="color: black;">1. Postgraduate Diploma in Education in Information Technology</h5>
                            <p>
                                Samtse College of Education(RUB), Bhutan.
                            </p>
                            <br>
                            <h5 style="color: black;">2. Bachelor of Science in Computer Science</h5>
                            <p>
                                Sherubtse College(RUB), Bhutan.
                            </p>
                            <br>
                            <h5 style="color: black;">3. High School (Sciences) </h5>
                            <p>
                                Gelephu Higher Secondary School.
                            </p>

                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 col-md-6">
                        <h2 style="color: orange;">Hello, I'm Passang Wangmo</h2>
                        <p style="color: black;">
                            A teacher-trainee, currently pursuing Postgraduate Diploma in Education in Information Technology at Samtse College of Education.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--Experiences-->
        <div class="work_area" id="experiences">
            <div class="container">
                <h2 class="text-center text-uppercase" style="font-size:29px; color: black">
                    Work Experience
                </h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-dark">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star" style="font-size:24px"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row">
                    <div class="col-xl-10">
                        <div class="work_text">
                            <h3>I’m a design student currently an undergraduate working as a freelance.</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="work_left">
                            <p>It's my dream to work for people and make great designs for them.
                            </p>
                            <h2 style="color: orange;">My Qualifications </h2> <br>
                            <h5 style="color: black;">BACHELOR OF DESIGN </h5>
                            <p>Delhi Technological University
                            </p>
                            <br>
                            <h5 style="color: black;">HIGH SCHOOL (SCIENCES) </h5>
                            <p>Dream High Public School
                            </p>

                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 col-md-6">
                        <div class="progress_skills">
                            <div class="single_progress">
                                <div class="label d-flex justify-content-between">
                                    <span>Web Development</span>
                                    <span>90%</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar " role="progressbar" style="width: 90%" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="single_progress">
                                <div class="label d-flex justify-content-between">
                                    <span>UI/UX</span>
                                    <span>70%</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar " role="progressbar" style="width: 70%" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="single_progress">
                                <div class="label d-flex justify-content-between">
                                    <span>Adobe</span>
                                    <span>60%</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="single_progress">
                                <div class="label d-flex justify-content-between">
                                    <span>Leadership</span>
                                    <span>80%</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="single_progress">
                                <div class="label d-flex justify-content-between">
                                    <span>ML and AI</span>
                                    <span>75%</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Services-->
        <div class="service_area" id="service">
            <div class="container">
                <h2 class="text-center text-uppercase text-black" style="font-size:29px; color: white">
                    Services
                </h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-dark">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star" style="font-size:24px"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title mb-50">
                            <h3>I do provide freelance services!</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single_service text-center">
                            <div class="icon">
                                <img src="/static/img/svg_icon/1.svg" alt="">
                            </div>
                            <h3>
                                Web & Mobile Design
                            </h3>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single_service text-center">
                            <div class="icon">
                                <img src="/static/img/svg_icon/2.svg" alt="">
                            </div>
                            <h3>
                                Web Development
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single_service text-center">
                            <div class="icon">
                                <img src="/static/img/svg_icon/3.svg" alt="">
                            </div>
                            <h3>
                                Adobe Illustrator
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Contact Us-->
        <section class="py-5 px-5" id="contact" style="background-color: orange">
            <h2 class="text-center text-uppercase text-black" style="font-size:29px; color: white">
                Services
            </h2>
            <div class="divider-custom divider-dark">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star" style="font-size:24px"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="row">
                <div class="col-md-7 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="name" class="">Your name</label>
                                    <input type="text" id="name" name="name" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="email" class="">Your email</label>
                                    <input type="text" id="email" name="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <label for="subject" class="">Your Phone Number</label>
                                    <input type="text" id="subject" name="subject" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form">
                                    <label for="message">Your message</label>
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-md-left mt-5">
                        <a class="btn btn-primary" onclick="">Send</a>
                    </div>
                    <div class="status"></div>
                </div>
                <div class="col-md-5 text-center">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <i class="fas fa-map-marker-alt fa-2x"></i>
                            <p>Samtse District, Bhutan</p>
                        </li>

                        <li>
                            <a href="tel:+97517876162" style="color: #000000">
                                <i class="fas fa-phone mt-4 fa-2x"></i>
                            </a>
                            <p>+975 17876162</p>
                        </li>

                        <li>
                            <a href="mailto:passangwangmo729@gmail.com"
                               target="_blank"
                               rel="noreferrer"
                               style="color: #000000">
                                <i class="fas fa-envelope mt-4 fa-2x"></i>
                            </a>
                            <p>passangwangmo729@gmail.com</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!--Footer-->
        <footer class="footer text-center">
            <div class="row">
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">About</h4>
                    <p class="lead mb-0" style="color:white">
                        A teacher trainee pursuing Postgraduate Diploma in Information Technology at
                        Samtse College of Education. <br>
                        <a href="" style="color:blue">More</a>
                    </p>
                </div>

                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Follow me on</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
            </div>
        </footer>
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright©2022 All rights reserved</small></div>
        </div>
    </body>
</html>
